 #slider .thumb {
     -fx-background-color: #515966!important;
 }
 #slider .track {
     -fx-background-color: #181E36!important;
 }
 #slider .axis .axis-tick-mark, .slider .axis .axis-minor-tick-mark {
     -fx-fill: null;
     -fx-stroke: #181E36!important;
 }